<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycheflogin">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".onionactivity"></activity>
        <activity android:name=".frenchactivity" />
        <activity android:name=".friedriceactivity"/>

        <activity android:name=".chineseactivity"/>
        <activity android:name=".scampiactivity" />
        <activity android:name=".cassactivity"/>
        <activity android:name=".souffletactivity"/>
        <activity android:name=".ratactivity"/>
        <activity android:name=".oystersauceactivity"/>
        <activity android:name=".peppersteakactivity"/>
        <activity android:name=".beefstiractivity"/>
        <activity android:name=".potpastaactivity" />
        <activity android:name=".chickpeaactivity" />
        <activity android:name=".medchickenactivity" />
        <activity android:name=".bakedfishactivity" />
        <activity android:name=".medactivity" />
        <activity android:name=".skilletactivity" />
        <activity android:name=".manactivity" />
        <activity android:name=".alfredoactivity" />
        <activity android:name=".polentaactivity" />
        <activity android:name=".bakeactivity" />
        <activity android:name=".italianactivity" />
        <activity android:name=".dalactivity" />
        <activity android:name=".chilliactivity" />
        <activity android:name=".fishactivity" />
        <activity android:name=".curryactivity" />
        <activity android:name=".butteractivity" />
        <activity android:name=".indianactivity" />
        <activity android:name=".porkactivity" />
        <activity android:name=".greenactivity" />
        <activity android:name=".dumpactivity" />
        <activity android:name=".potactivity" />
        <activity android:name=".pancakesactivity" />
        <activity android:name=".germanactivity" />
        <activity android:name=".roastactivity" />
        <activity android:name=".goatactivity" />
        <activity android:name=".jerkactivity" />
        <activity android:name=".pepperpotactivity" />
        <activity android:name=".garlicactivity" />
        <activity android:name=".carribeanactivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ShowRecipesActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".FavouritesActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CuisineActivity" />
        <activity android:name=".SearchResult" />
        <activity android:name=".RecipeStepsActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>